body {
	margin: 0;
	
}
.header {
	color:  #134552;
	height: 80px;
	padding: 10px;
	text-align: center;

}

.container {
	max-width: 50%;
	background: rgb(214, 217, 218);
	color: black;
	box-sizing: border-box;
	padding: 0 30px;
	margin: 120px auto;
	border-radius: 10px; 
	text-align: justify;
}

#test {
	padding: 20px;
	
}

input[type="submit"], input[type="button"]  {
	background-color:  #134552;
	color:white;
	border: none;
	border-radius: 2px;
	font-weight: bold;
	padding: 10px;
	margin: 40px;
	margin-left: 50px;
}

input[type="text"] {
	height: 30px;
	width: 200px;
	margin-top: 5px;
	margin-bottom: 10px;
	border: none;
	padding: 5px;

}

select {
	width: 200px;
	margin: 10px 0;
	height: 30px;
	border: none;
}

a {
	text-decoration: none;
}