body {
	margin: 0;
	
}
.header {
	background-color:  #347889;
	color: white;
	height: 80px;
	padding: 10px;
	text-align: center;

}

.container {
	background-color:  #e7eef0;
	color: black;
	text-align: justify;
	height: 400px;
	margin: 100px 250px;
}
#test {
	padding: 20px;
	
}

input[type="submit"], input[type="button"]  {
	background-color:  #347889;
	color: white;
	border: none;
	border-radius: 2px;
	font-weight: bold;
	padding: 10px;
	margin-top: 30px;
	margin-left: 50px;
}

input[type="text"] {
	height: 30px;
	width: 200px;
	margin-top: 5px;
	margin-bottom: 10px;
	border: none;
	padding: 5px;

}

select {
	width: 300px;
	margin-bottom: 10px;
	height: 30px;
	border: none;
}

a {
	text-decoration: none;
}